body{
    margin: 0px;
    background-color: black;
}

.back{
    background-color: rgb(255, 255, 255);
    width : 950px;
    height: 730px;
    margin: 0;
    float:left; /*옆으로*/
    text-align: center;
    position: relative;
}

.side{
    background-color: #E6E6E6;
    width: 550px;
    height: 730px;
    margin: 0;
    float:left;
}

.backBT{
    display :inline-block;
    position: absolute;
    top: 50%;
}